.chatpage .container {
  height: 100vh;
  background: rgba(13, 13, 13, 0.9);
}

.chatpage .first_element {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chatpage .first_element > p {
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.2);
}

.chatpage .first_element svg {
  width: 32px;
  fill: var(--dark_green);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.chatpage .first_element svg:hover {
  fill: var(--light_green);
}

.title_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.chatpage .title {
  font-size: 30px;
}

.members {
  width: 100%;
  display: flex;
}

.multi-members,
.single-member {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.multi-members img,
.single-member img {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.multi-members span,
.single-member span {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease;
  text-align: center;
}

.multi-members:hover img,
.single-member:hover img {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  border: 2px solid var(--light_purple);
}

.multi-members:hover span,
.single-member:hover span {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: -35px;
  opacity: 1;
}

.chatpage .second_element {
  height: 100%;
}

.ChatBox-container {
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.chatpage .second_element > div > svg {
  position: absolute;
  top: 89.5%;
  left: 75%;
  width: 9%;
}

.chat_wall-container {
  background: var(--bg_dark_liniar);
  width: 100%;
  height: 65vh;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0.5rem;
  overflow-y: scroll;
}

.chat_wall-date {
  margin: 0.5rem 0;
}

.chat_wall {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 10px;
}

.chat_wall input {
  height: 45px;
  text-align: left;
  text-indent: 10px;
}

.chat_wall button {
  position: absolute;
  top: 89.5%;
  left: 73%;
}

.senders_message {
  width: 80%;
}

.senders_message .message-body {
  position: relative;
  background: var(--install_bg);
  border-radius: 10px;
  align-self: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 3rem;
  max-width: 10rem;
  height: auto;
  min-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  color: #fff;
}

.senders_message h4 {
  position: absolute;
  top: -10px;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: var(--txt);
}

.users_message {
  width: 80%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.users_message .message-body {
  position: relative;
  background: var(--btn_bg);
  border-radius: 10px;
  align-self: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 3rem;
  max-width: 10rem;
  height: auto;
  min-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  color: #fff;
}

.users_message .message-body p {
  font-size: 20px;
  font-weight: 300;
}

.users_message-time_stamp {
  position: absolute;
  text-align: right;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 14px;
  bottom: -10px;
  right: 0;
  color: var(--txt);
}

.senders_message-time_stamp {
  position: absolute;
  text-align: left;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 14px;
  bottom: -10px;
  left: 0;
  color: var(--txt);
}

.message-text {
  font-size: 12px;
}

.chat_page #nav {
  background-color: rgba(30, 30, 30, 0.8) !important;
}

#root > div > div > div.second_element > div > div.chat-sender {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#root
  > div
  > div
  > div.second_element
  > div
  > div.chat-sender
  > div.react-emoji
  > div.react-input-emoji--container {
  width: 100%;
}

#root
  > div
  > div
  > div.second_element
  > div
  > div.chat-sender
  > div.react-emoji
  > button {
  position: relative;
  display: block;
  text-align: center;
  padding: 0 10px;
  overflow: hidden;
  transition: color 0.1s ease-out;
  margin: 0;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  flex-shrink: 0;
  background: white;
  height: 42px;
  border-radius: 0px 20px 20px 0px;
  left: -1%;
  top: 0;
}

.react-emoji-picker--wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 435px;
  width: 352px;
  overflow: hidden;
  z-index: 10;
  transform: translateX(-50%);
}
