.groupchat {
  width: 100%;
  height: 95px;
  background: transparent;
  border: 2px solid var(--light_green);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.groupchat:hover {
  border: 2px solid var(--light_purple);
}

.groupchat_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.groupchat_content span {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.groupchat_content p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  opacity: 0.4;
}

@keyframes chat-slide-bottom {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1000px);
  }
}

.groupchat-graphic {
  position: relative;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  width: 70px;
  justify-content: space-between;
  height: -webkit-fill-available;
  align-items: center;
}

.groupchat-graphic svg {
  width: 24px;
  fill: var(--dark_purple);
  transition: all 0.3s ease;
}

.groupchat-graphic > :nth-child(1) svg {
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.groupchat-graphic > :nth-child(2) svg {
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.groupchat-graphic > :nth-child(1):hover svg {
  fill: green;
  cursor: pointer;
}

/* .groupchat-graphic > :nth-child(1):hover input {
  fill: green;
  cursor: pointer;
  position: absolute;
  opacity: 1;
  top: 35px;
} */


.groupchat-graphic > :nth-child(2):hover svg {
  fill: var(--delete);
}

.rename-field {
  position: absolute;
  width: 120px;
  height: 20px;
  top: 35px;
  right: 0px;
  opacity: 0;
}

.active-field {
  position: absolute;
  width: 120px;
  height: 20px;
  top: 65px;
  right: 0px;
  opacity: 1;
}