.registerpage__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: rgb(109, 103, 103);
  justify-content: space-around;
}

.registerpage__header {
  height: 10%;
}

.registerpage__header-img_container {
  display: flex;
  justify-content: center;
}

.registerpage__body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.registerpage__body {
  display: flex;
  flex-direction: column;
  height: 50%;
  gap: 45px;
}

.registerpage__body-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerpage__body-top h1 {
  font-size: 3rem;
  color:#662D91;

}

.registerpage__body-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  gap: 15px;
}

p {
  text-align: center;
  width: 70%;
}

.registerpage__body-middle input {
  height: 40px;
  width: 80%;
  border-radius: 20px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #008b83;
}

.registerpage__footer {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 5px;
}

.registerpage__footer-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.registerpage__footer-bottom p {
  width: 40%;
}

.active {
  text-decoration: none;
  color: rgba(0, 139, 131, 1);

}
