.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0;
  min-height: 100vh;
}

.topmenu__wrapper {
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: -webkit-fill-available;
}

.topmenu__topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  opacity: 1;
  position: absolute;
  background: var(--bg_dark_liniar);
  width: -webkit-fill-available;
  z-index: 1;
}

.topmenu__topbar #logo {
  height: fit-content;
}

.topmenu__topbar #logo svg {
  width: 200px;
}

.topmenu__topbar p {
  font-size: 24px;
}

.topmenu__body_body > p > svg {
  width: 12%;
}

.topmenu__topbar button {
  background: transparent;
  border: none;
  position: relative;
  z-index: 1;
}

.topmenu__topbar svg {
  fill: var(--dark_purple);
  width: 60px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.topmenu__body-wrapper {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(15px);
  opacity: 0;
  z-index: 20;
  width: -webkit-fill-available;
  align-items: center;
  background: rgba(13, 13, 13, 0.7);
}

.opening {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(15px);
  opacity: 0;
  z-index: 2;
  animation: slide-bottom 0.5s both;
}

.closing {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(15px);
  opacity: 0;
  z-index: 2;
  animation: slide-top 0.8s both;
}

.topmenu__body_header {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 20px;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.topmenu__body_header button {
  background: transparent;
  border: none;
  width: 100px;
  z-index: 1;
}

.topmenu__body_header_user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topmenu__body_header span {
  width: 100px;
  display: inline-block;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.topmenu__body_header img {
  border-radius: 50%;
  border: 2px solid var(--light_purple);
  max-width: 100px;
  height: auto;
}

.topmenu__body_header svg {
  position: absolute;
  top: 30px;
  right: 30px;
  fill: rgba(11, 78, 74, 1);
  width: 32px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.topmenu__body_header svg:hover {
  fill: var(--light_green);
}

.topmenu__body_body {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: -80px;
}

.topmenu__body_body a {
  text-decoration: none;
  position: relative;
  width: 100%;
  color: var(--txt);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topmenu__body_body svg {
  width: 21%;
  min-width: 120px;
}

.topmenu__body_body span {
  position: absolute;
  bottom: 0;
  left: 80px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.topmenu__body_body a:hover span {
  transform: scale(1.1);
}

.topmenu__body_body > p {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.topmenu__body_body-icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 19%;
  left: 31%;
  height: 580px;
  justify-content: space-between;
}

.topmenu__body_footer {
  height: 10%;
  display: flex;
  justify-content: center;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2000px);
  }
}

.logout_btn {
  position: absolute;
  z-index: 20;
  background-color: transparent;
  outline: 0;
  border: 0;
  top: 20px;
  left: 250px;
  cursor: pointer;
}

.logout_btn svg {
  width: 32px;
  fill: var(--dark_purple);
  transition: all 0.3s ease;
}
.logout_btn:hover svg {
  fill: var(--light_purple);
}
