#uploadButton {
  display: none;
}

.avatars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.avatars img {
  border: 2px solid transparent;
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 20px;
}
.modal_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.inital_setup_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.inital_setup_form .modal {
  /* background: var(--bg_dark_liniar); */
  background: transparent;
  z-index: 15;
  width: 90%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  border-radius: 30px;
  padding: 20px;
}

.inital_setup_form p {
  color: var(--txt);
}

.inital_setup_form h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  margin: 0 0 20px 0;
}

.inital_setup_form h3 {
  color: var(--txt);
  font-size: 18px;
  width: fit-content;
  font-weight: 300;
}

.inital_setup_form svg {
  width: 32px;
  fill: var(--dark_green);
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.inital_setup_form svg:hover {
  fill: var(--light_green);
}

.inital_setup_upload {
  width: 180px;
  font-size: 14px;
}

.initial_setup_privacy {
  display: flex;
  justify-content: space-between;
}

.initial_setup_radio {
  width: fit-content;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.initial_setup_toggle {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
