.home__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin-top: 15px;
  margin-bottom: 0;
}

.home__nav svg:first-child {
  width: 200px;
}
.home__nav button {
  width: 40px;
  /* height: 30px; */
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.home__nav svg:last-child {
  width: 35px;
  fill: #662d91;

  transition: all 200ms ease;
}

.home__nav > button:hover svg {
  fill: #8648b5;
}

.map-container {
  /* position: relative; */
  bottom: 0;
  left: 0;
  right: 0;
  height: 100dvh;
  overflow: hidden;
  padding: 0;
  min-height: 0 !important;
}

/* .sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
} */

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  opacity: 0;
  background-image: var(--title);
  font: inherit;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  top: -15px;
  animation: fadeIn 200ms ease 10ms forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mapboxgl-popup-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.mapboxgl-popup-content p {
  font-size: 16px;
  text-align: left;
}

.mapboxgl-marker {
  position: relative;
  width: 24px;
  height: 32px;
}

.mapboxgl-marker img {
  position: absolute;
  width: 24px;
  height: 32;
  z-index: 10;
}

.mapboxgl-popup-tip,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none;
}

.mapboxgl-ctrl-group {
  display: flex;
  flex-direction: column;
  gap: 12.5px;
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none !important;
}

.add_favorite_icon_btn {
  position: absolute;
  right: 10px;
  top: 235px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_favorite_icon_btn svg {
  width: 17px;
  fill: #cbcccc;
}

.mapboxgl-ctrl-group button,
.add_favorite_icon_btn {
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
  background-color: var(--dark_green);
  border: 2px solid var(--light_green) !important;
  transition: all 0.3s ease;
}

.mapboxgl-ctrl-group button:hover,
.add_favorite_icon_btn:hover {
  background-color: var(--dark_purple) !important;
  border: 2px solid var(--light_purple) !important;
  transition: all 0.3s ease;
}

.mapboxgl-ctrl-icon {
  filter: invert(100%);
}

/* .mapboxgl-ctrl-group > :last-child {
  display: none;
} */

.mapboxgl-ctrl-top-right {
  right: 0;
  top: 70px;
  z-index: 0;
}
